body {
  font-family: roboto-ex, system-ui;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-main);
  font-style: normal;
}

.icon {

  display: inline-block;

  fill: currentColor;
  size: 1em;
  stroke: currentColor;
  stroke-width: 1;
}
