body{
  font-size: 16px;
  color: var(--color-accent-1);
}
.icon {
  display: inline-block;
  size: 32px;
  /* width: 1em;
  height: 1em; */
  stroke-width: 1;
  stroke: currentColor;
  fill: currentColor;
} 