.flex{
  position: relative;
  margin: * auto;
  color: #fff gray(95%);

}
.flex__container{
  size: 1200px 700px;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: stretch; */

}
.flex__item{
  size: 300px;
  color: #fff color(blue shade(30%));
  font-size: 1em / 1;
  margin: 3px;
  padding: 10px;
  overflow: hidden;
  & h1{
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  }
  &:nth-child(3){
    /* flex-grow: 3; */
  }
}